@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontEnd.Models.UserViewModel
@{
    ViewData["Title"] = "Delete User";
}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="~/css/delete-confirm.css" asp-append-version="true" />

<div class="full-screen-center">
    <div class="delete-card">
        <div class="icon-box">
            <i class="fa fa-trash-alt"></i>
        </div>

        <h3 class="warning-title">Are you sure?</h3>

        <p class="warning-text">
            Do you really want to delete the user <br />
            <span class="user-name">@Model.FullName</span> ?
            <br />
            <small>This process cannot be undone.</small>
        </p>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-delete-confirm">
                <i class="fa fa-trash me-2"></i> Delete
            </button>
            <a asp-action="Index" class="btn btn-cancel">Cancel</a>
        </form>
    </div>
</div>