@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrontEnd.Models.UserViewModel
@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-danger">Delete ? @Model.FullName?</h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>